[submodule "SupplierSourceCode/Vela_IF820_Firmware-1.4.18.18/Vela_IF820_Firmware-1.4.18.18/common_lib"]
	path = SupplierSourceCode/Vela_IF820_Firmware-1.4.18.18/Vela_IF820_Firmware-1.4.18.18/common_lib
	url = https://github.com/Ezurio/utp_python_common_lib.git
	ignore = all
